.category-nav
    margin: 0 -1*$grid["gutter"];
    padding 0
    list-style none
    display flex
    justify-content space-between

    &__item
        margin-left:  $grid["gutter"];
        margin-right: $grid["gutter"];
        flex 1 1 auto
