.category-link
    position relative
    display block
    font 800 18px/21px $font-beta
    text-decoration none
    color inherit

    &::before
    &::after
        content ""
        display block
        font-size 160px
        width  1em
        height 1em
        background none no-repeat 0 0
        transition .2s

    &::after
        position absolute
        top 0
        left 0
        background-image url("../img/category-icons.png")
        background-size 6em 1em

        +retina(2)
            background-image url("../img/category-icons@2x.png")

    $icons-list = vr monopods camera fitness watch copter

    for $icon, $index in $icons-list
        &_{$icon}::after
            background-position-x: -1em * $index

    &::before
        background-color: $colors["brand-bg"];
        transition .2s

    &__text
        display block
        padding 36px 0
        letter-spacing 0.01em

    &:hover &__text
        opacity 0.6

    &:hover::before
        background-color: $colors["brand"];

    &:active &__text
    &:active::after
        opacity 0.3



