.dev-link
    display inline-block
    color: $colors["brand-light"];

    &__logo
        width 27px
        height 34px

    &:hover
        color: $colors["brand"];

    &:active
        opacity 0.3
