.fieldset
    margin 0 0 18px
    padding 13px 0 11px
    border 0
    border-top 2px solid

    &::after
        content ""
        display table
        clear both

    &__title
        margin 0 0 28px
        padding 0
        float left
        width 100%
        font-size 18px
        font-weight 800
        font-family $font-beta
        letter-spacing 0.01em

        & + *
            clear both
