.logo
    display inline-block
    text-decoration none
    color inherit
    text-transform uppercase
    font 800 48px/1 $font-beta
    letter-spacing 0.01em
    transition: .2s;

    &:hover
        color #464646

    &:active
        color #666

    &_invert
        color: $colors["brand-light"];

        &:hover
            color: $colors["brand"];

        &:active
            opacity: 0.3
