.paging
    display flex
    justify-content space-between
    font-size 16px
    font-family: $font-beta
    font-weight: 800
    letter-spacing: 0.2em
    text-transform: uppercase
    background #ebebeb

    &__btn
        padding 26px 30px
        text-decoration none
        color inherit
        transition background .16s

        &:hover
            background: rgba(#000, 0.08)

        &:active
            color rgba(#000, 0.3)
