.product-stat
    margin 0
    padding 0
    list-style none
    display flex
    flex-wrap wrap
    align-items flex-start

    &__item
        display inline-block
        vertical-align top
        box-sizing border-box
        width 140px
        // padding-right: $grid["gutter"];

        &:first-child
            width 160px

    &__value
        font 300 36px/48px $font-beta
        letter-spacing 0.01em

    &__key
        font-size 13px
        line-height: 20px
        font-weight 300
        color: $colors["dark"];

