.product-grid
    margin-left:  (-1 * $grid["gutter"]);
    margin-right: (-1 * $grid["gutter"]);
    display: flex;
    flex-wrap: wrap;

    &__cell
        margin-bottom: 24px;
        // margin-bottom: 10px;
        box-sizing: border-box;
        padding-left:  $grid["gutter"];
        padding-right: $grid["gutter"];
        width: 50%;
        flex: 1 1 "calc(50% - %s)" % (2 * $grid["gutter"]);
        display: inline-block;
        vertical-align: top;
