.sort-type
    display flex
    align-items baseline

    &__item
        display inline-block
        opacity 0.3
        color inherit
        text-decoration none
        transition .16s

        &:hover
            opacity 0.6

        &:active
            opacity 1

        &_active
            opacity 1
            pointer-events none

        &:not(:last-child)
            margin-right 32px
