extends /src/views/common/layout

block append defs
    -
        pageTitle = "Каталог";

        user = {
            name: 'Валентин Петухов'
        };

        var breadcrumbsData = [
            { url: 'catalog.html', text: 'Главная' },
            { url: 'catalog.html', text: 'Каталог товаров' },
            { url: 'catalog.html', text: 'Моноподы для селфи' }
        ];

block blockContent

    .container
        .page-cursor
            h1.page-title.title Моноподы для селфи

            +breadcrumbs(breadcrumbsData)

    include partials/search-layout
