.about-grid
    $offset = $grid["gutter"];

    margin-left  -1*$offset;
    margin-right -1*$offset;
    display flex
    align-items flex-start

    &__cell
        box-sizing border-box
        padding-left  $offset
        padding-right $offset
        flex 1 1 50%
