$menu-letter-spacing = 0.2em

.main-menu
    $this = selector()

    margin 0
    margin-right -1 * $menu-letter-spacing
    display flex
    padding 34px 0 33px
    list-style none

    &__item
        margin-right 36px

        &:last-child
            margin-right 0
            margin-left auto

        &_catalog
            margin-left 0
            margin-right 0
            width 50%
            padding-right: $grid["gutter"];

        // &_catalog {$this}__link
        //     display inline-flex

    &__link
        position relative
        display flex
        align-items center
        text-transform uppercase
        color inherit
        font-size 18px
        font-family $font-beta
        font-weight 800
        letter-spacing $menu-letter-spacing
        text-decoration none
        transition .14s

        &:hover
            opacity 0.6

        &:active
            opacity 0.3

    &__icon
        margin-left (12/16 * 1em)
        margin-top: -0.125em;
        vertical-align middle
        opacity 0.3
        font-size 16px

    &__nested
        position absolute
        // z-index 2
        left 0
        right 0
        margin 0
        opacity 0
        visibility hidden
        display flex
        flex-wrap wrap
        align-items flex-start
        padding: 25px $grid["col-width"] 34px;
        list-style none
        background: $colors["brand-bg"];
        transition .16s

    &__item:hover &__nested
        opacity 1
        visibility visible
        transition .3s

        &::before
            $offset = -2em
            content ""
            position absolute
            z-index -1
            top    ($offset / 4)
            bottom $offset
            left   $offset
            right  $offset
