.nested-menu
    margin 0
    padding 0
    display inline-block
    vertical-align top
    width 200px
    list-style none
    font-family $font-alpha
    font-weight 300

    &:first-child
        width 240px

    &__link
        display block
        padding 9px 0
        color inherit
        text-decoration none
        letter-spacing 0.01em

        &:hover
            opacity 0.6

        &:active
            opacity 0.3
