.page-header
    position relative
    z-index 3
    flex: 0 0 auto;
    padding: 18px $grid["col-width"];
    font-size 15px

    &::before
        content ""
        position absolute
        z-index -1
        top 40px
        bottom 0
        left 0
        right 0
        // opacity 0.5
        background $colors["brand-bg"]
