.search-sort
    display flex
    align-items center
    height $head-filter-height

    &__label
        width 200px
        font-size 16px
        font-family $font-beta
        font-weight 800
        letter-spacing 0.2em
        text-transform uppercase

    &__order
        margin-left auto
