.user-block
    padding-top 10px
    display: flex;
    align-items: baseline;
    font-weight 300

    &__form
        box-sizing: border-box;
        padding-right: $grid["gutter"] + $grid["col-width"];
        flex: 1 1 50%;

    &__menu
        box-sizing: border-box;
        padding-left: $grid["gutter"];
        flex: 1 1 50%;
