.user-menu
    margin 0
    display flex
    align-items baseline
    list-style none
    letter-spacing 0.01em

    &__item
        margin-left 40px
        // position relative
        display inline-block

        &_account
            margin-right auto
            margin-left 0

    &__link
        position relative
        display inline-block
        color inherit
        text-decoration none

        &:hover
            opacity 0.6

        &:active
            opacity 0.3

        &_logout
            margin-left 1em
            opacity 0.3

            &:hover
                opacity 0.6

            &:active
                opacity 1

        &::before
            content ""
            $offset = -1em
            position absolute
            top    $offset
            bottom $offset
            left   $offset
            right  $offset

    &__icon
        position relative
        top 0.125em
        margin-right 0.75em
        vertical-align baseline
        width  1em
        height 1em
        font-size 14px
        color #272525

        &_chart
            top 0

    &_invert &__link_logout
        margin-left: 0

    &_invert &__link,
    &_invert &__link_logout
        opacity 1

        &:hover
            opacity 0.6

        &active
            opacity 0.3

    &_invert &__icon
        color: $colors["brand-light"];
