.vendors-grid
    $offset = $grid["gutter"];

    &__inner
        margin-left:  -1*$offset;
        margin-right: -1*$offset;
        padding-top 95px
        padding-bottom 93px
        display flex
        flex-wrap wrap

    &__cell
        box-sizing border-box
        padding-left  $offset
        padding-right $offset
        flex 1 1 25%

