footer.page-footer
    .container
        .page-footer__row
            a.logo.logo_invert(href="/") Device
            ul.user-menu.user-menu_invert
                li.user-menu__item
                    if (user)
                        a.user-menu__link.user-menu__link_logout(href="#404")
                            +icon("user").user-menu__icon
                            | Выйти
                    else
                        a.user-menu__link(href="#404")
                            +icon("user").user-menu__icon
                            | Войти

                li.user-menu__item
                    a.user-menu__link(href="#404")
                        +icon("chart").user-menu__icon.user-menu__icon_chart
                        | Сравнить

                li.user-menu__item
                    a.user-menu__link(href="#404")
                        +icon("cart").user-menu__icon
                        | Корзина

        .page-footer__row
            .company-address г. Москва, ул. Строителей, 15

            ul.main-menu
                li.main-menu__item
                    a.main-menu__link(href="#404") Доставка

                li.main-menu__item
                    a.main-menu__link(href="#404") Гарантия

                li.main-menu__item
                    a.main-menu__link(href="#404") Контакты

            .company-tel Тел.: #[a.footer-link(href="tel:+74954959595") +7 (495) 495-95-95]

        .page-footer__row
            ul.social-list
                li.social-list__item
                    a.social-list__link(href="#404", title="мы в фейсбук")
                        +icon("social-facebook").social-list__icon
                        span.visuallyhidden facebook

                li.social-list__item
                    a.social-list__link(href="#404", title="мы в инстаграм")
                        +icon("social-instagram").social-list__icon
                        span.visuallyhidden instagram

                li.social-list__item
                    a.social-list__link(href="#404", title="мы в твиттер")
                        +icon("social-twitter").social-list__icon
                        span.visuallyhidden twitter

            a.dev-link(href="https://htmlacademy.ru" target="_blank noopener")
                +icon("htmlacademy").dev-link__logo
                span.visuallyhidden htmlacademy.ru

