.container
    header.page-header
        a.logo(href="index.html") Device

        .user-block
            .user-block__form
                form.search-form
                    +icon("search").search-form__icon
                    input.search-form__input(type="text", name="search-query", placeholder="Поиск по сайту")
                    button.search-form__btn(type="submit")
                        - var btnLineClassName = 'search-form__btn-line';
                        each cls in ['bottom', 'right', 'top', 'left']
                            div(class=[btnLineClassName, `${btnLineClassName}_${cls}`])
                        | Найти

            ul.user-block__menu.user-menu
                li.user-menu__item.user-menu__item_account

                    if (user)
                        span.user-menu__name
                            +icon("user").user-menu__icon
                            | #{user.name}
                        a.user-menu__link.user-menu__link_logout(href="#404") Выйти
                    else
                        a.user-menu__link(href="#404")
                            +icon("user").user-menu__icon
                            | Войти

                li.user-menu__item
                    a.user-menu__link(href="#404")
                        +icon("chart").user-menu__icon.user-menu__icon_chart
                        | Сравнить

                li.user-menu__item
                    a.user-menu__link(href="#404")
                        +icon("cart").user-menu__icon
                        | Корзина

        ul.main-menu
            li.main-menu__item.main-menu__item_catalog
                a.main-menu__link(href="catalog.html")
                    | Каталог товаров
                    +icon("plus").main-menu__icon
                .main-menu__nested
                    ul.nested-menu
                        li.nested-menu__item
                            a.nested-menu__link(href="catalog.html") Виртуальная реальность
                        li.nested-menu__item
                            a.nested-menu__link(href="catalog.html") Моноподы для селфи
                        li.nested-menu__item
                            a.nested-menu__link(href="catalog.html") Экшн-камеры
                    ul.nested-menu
                        li.nested-menu__item
                            a.nested-menu__link(href="catalog.html") Фитнес-браслеты
                        li.nested-menu__item
                            a.nested-menu__link(href="catalog.html") Умные часы
                    ul.nested-menu
                        li.nested-menu__item
                            a.nested-menu__link(href="catalog.html") Квадрокоптеры

            li.main-menu__item
                a.main-menu__link(href="#404") Доставка

            li.main-menu__item
                a.main-menu__link(href="#404") Гарантия

            li.main-menu__item
                a.main-menu__link(href="#404") Контакты
