include /src/views/components/index

block defs
    -
        var lang = lang || 'ru';

        var htmlAttrs = {
            lang: lang,
            class: ['ctx-no-js']
        };

        var bodyAttrs =  {
            class: ['page']
        };

        var pageTitle = pageTitle || "";

doctype html
html&attributes(htmlAttrs)
    head
        include template-logo
        block blockHead
            include meta

            block blockHeadStyles
                +style({
                    path: "assets/css/main.css",
                    hash: true
                })

            block blockHeadScripts
                script.
                    ;(function(html) {
                        html.className = html.className.replace('ctx-no-js', 'ctx-js')
                    })(document.documentElement);

                    ;(function(window, document) {
                        var html = document.documentElement;
                        html.className += ' ctx-dom-loading';
                        html.className += ' ctx-page-loading';

                        function onPageLoad(e) {
                            window.removeEventListener('load', onPageLoad);
                            html.className = html.className.replace('ctx-page-loading', 'ctx-page-loaded')
                        }

                        function onDomLoad(e) {
                            document.removeEventListener('DOMContentLoaded', onDomLoad);
                            html.className = html.className.replace('ctx-dom-loading', 'ctx-dom-loaded')
                        }

                        window.addEventListener('load', onPageLoad);
                        document.addEventListener('DOMContentLoaded', onDomLoad);
                    })(window, document);

            block blockTitle
                - var title = "Device" + (pageTitle ? " | " + pageTitle : "")
                title #{title}

    block blockBody
        body&attributes(bodyAttrs)

            include header

            main.page-main
                block blockContent

            include footer

            block portals

            block blockBodyStyles

            block blockBodyScripts
                +script("assets/js/vendor.js")
                +script("assets/js/main.js")
