@keyframes showCurtain {
    0%  { transform: scaleX(0); }
    50% { transform: scaleX(1); }
    to  { transform: scaleX(0); }
}

@keyframes curtainTransformOrigin {
    0%  { transform-origin: 0 0;    }
    50% { transform-origin: 100% 0; }
    to  { transform-origin: 100% 0; }
}
