section.about-section
    .container
        .about-grid
            .about-grid__cell.about-block
                h4.about-block__title.title О нас
                .about-block__content
                    p Огромный выбор гаджетов не оставит равнодушным гика, #[br] который есть в каждом из нас.
                    p Мы можем доставить ваш товар в самые отдаленные точки #[br] России! DEVICE работает со многими транспортными компаниями
                    ul
                        li Деловые Линии
                        li Автотрейдинг
                        li ЖелДорЭкспедиция
                .about-block__footer
                    a.line-btn(href="#404") Подробнее о нас

            .about-grid__cell.about-block
                h4.about-block__title.title Контакты
                .about-block__content
                    p Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете проверить работоспособность покупки. Всякое бывает.
                    p
                        a.map-link(id="map-link", href=mapLink, target="_blank", rel="nofollow noopener")
                            img.map-link__img(src="assets/img/map.jpg", width="560", height="220", alt="")
                .about-block__footer
                    a.line-btn(
                        href="#404",
                        data-modal='{ "target": "#contact-form-modal", "action": "open" }'
                    ) Напишите нам

block append portals
    +modal(id="contact-map-modal")
        .map(id="map")
            .map__content(id="contact-map")
            .map__loading Загрузка карты. Подождите...


    +modal(id="contact-form-modal")
        form.form(action="")
            .form-grid
                .form-grid__cell.form-grid__cell_half
                    .field
                        .field__label Ваше имя:
                        .field__control
                            input.text-input(name="name", type="text", required, placeholder="Представьтесь, пожалуйста")
                .form-grid__cell.form-grid__cell_half
                    .field
                        .field__label Ваш e-mail:
                        .field__control
                            input.text-input(name="name", type="email", required, placeholder="Для отправки ответа")
                .form-grid__cell
                    .field
                        .field__label Текст письма:
                        .field__control
                            textarea.text-input.text-input_multiline(name="message", required, placeholder="В свободной форме")
                .form-grid__cell
                    button.line-btn(type="submit") Отправить

