.filter-panel
    .filter-panel__head Фильтр:
    .filter-panel__body
        fieldset.fieldset
            legend.fieldset__title Стоимость
            .range-slider
                input.range-slider__input.range-slider__input_min(type="hidden", value="0", min="0", max="50000", step="100", name="min-price")
                input.range-slider__input.range-slider__input_max(type="hidden", value="5000", min="0", max="50000", step="100", name="max-price")

                .range-slider__track
                    .range-slider__fill(style="width: 100px")

                    .range-slider__thumb.range-slider__thumb_min(tabindex="0")
                        .range-slider__value от #[span.range-slider__ouput.range-slider__ouput_min 0]

                    .range-slider__thumb.range-slider__thumb_max(tabindex="0", style="left: 100px")
                        .range-slider__value до #[span.range-slider__ouput.range-slider__ouput_max 5 000]

        fieldset.fieldset
            legend.fieldset__title Цвет
            ul.control-list
                each color in colors
                    li.control-list__item
                        +control({
                            type: "checkbox",
                            name: "color",
                            value: color.value
                        }) #{color.name}

        fieldset.fieldset
            legend.fieldset__title Bluetooth
            ul.control-list
                li.control-list__item
                    +control({
                        type: "radio",
                        name: "bluetooth",
                        value: "no"
                    }) Нет
                li.control-list__item
                    +control({
                        type: "radio",
                        name: "bluetooth",
                        value: "yes"
                    }) Есть

        button.line-btn(type="submit") Показать
