.search-sort
    .search-sort__label Сортировка:

    .sort-type
        a.sort-type__item.sort-type__item_active(href="#404") По цене
        a.sort-type__item(href="#404") По типу
        a.sort-type__item(href="#404") По популярности

    .search-sort__order.sort-order
        a.sort-order__btn.sort-order__btn_up.sort-order__btn_active(href="#404", title="Сортировать по возрастанию")
            span.visuallyhidden Сортировать по возрастанию
        a.sort-order__btn.sort-order__btn_down(href="#404", title="Сортировать по убыванию")
            span.visuallyhidden Сортировать по убыванию
