mixin pagination(pageList, activePage)
    .paging
        a.paging__btn.paging__btn_prev(href="#404") Назад

        ul.paging-list
            each item in pageList
                li.paging-list__item(class={
                    'paging-list__item_active': item === activePage
                })
                    a.paging-list__link(href="#404") #{item}

        a.paging__btn.paging__btn_next(href="#404") Вперед

